<div>
    <div class="div_genres">
        <h2 class="title-genres">Gêneros</h2>
        
        <div class="btns-div">
            <button 
                class="btn_genres" 
                *ngFor="let genre of genres" 
                (click)="getMoviesByGenre(genre)"
                [title]="'Ver filmes de ' + genre?.name"
            >
                {{ genre?.name }}
            </button>
        </div>
    </div>
    
    <div *ngIf="listMovies.length != 0" class="center black">
        <h3 [innerHtml]="genrerNameChoose" class="title1-genre"></h3>
        
        <swiper
            #swiperRef
            [loop]="true"
            [slidesPerView]="6"
            [spaceBetween]="30"
            [centeredSlides]="true"
            [pagination]="{ clickable: true }"
            class="mySwiper"
        >
            <ng-template *ngFor="let movie of listMovies" swiperSlide>
                <div (click)="gotoDetails(movie?.id)" class="movie-slide">    
                    <img 
                        [src]="returnSrc(movie?.poster_path)" 
                        class="img-movie" 
                        [alt]="movie?.title || 'Poster do filme'"
                        loading="lazy"
                    >
                </div>
            </ng-template>
        </swiper>
    </div>
</div>

